<!doctype html>
<html>
  <head>
    <title>My Calculator!</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1> My Calculator </h1>
    <div>
      <%= yield %>
    </div>
    <div class="copyright">(c) Jonathan Yankovich</div>
  </body>
</html>